@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.custom-card {
    line-height: 1.5 !important;
    max-width: 100% !important;
    max-height: 100% !important;
    white-space: pre-wrap !important;
    word-break: keep-all !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    margin-bottom: 4px !important;
    min-height: 16px !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
}

.loading {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: radial-gradient(farthest-side, #ffc639 95%, #0000) 50% 1px/24px 24px no-repeat,
        radial-gradient(farthest-side, #0000 calc(100% - 28px), #5c5c5c 0);
    animation: s9 1s infinite linear;
}

@keyframes s9 {
    to {
        transform: rotate(1turn);
    }
}

