@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.custom-card {
    line-height: 1.5 !important;
    max-width: 100% !important;
    max-height: 100% !important;
    white-space: pre-wrap !important;
    word-break: keep-all !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    margin-bottom: 4px !important;
    min-height: 16px !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
}